
.omf-buttons {
    transition: 800ms;
}

.omf-buttons:hover {
    opacity: 0.70;
    @include shadow-strong;
    background: $purple-gradient-reverse;
}

.nav-animations a {
    @include hover-after;
}

.howto-list div {
    transition: 0.5s;
}

.howto-list div:hover {
    background-color: lighten($color: $purple-primary, $amount: 35) !important;
    i {
        color: $purple-primary;
    }
}

.restaurants__list article:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.heart {
    position: relative;
    .fa-solid {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        background: $purple-gradient;
        background-clip: text;
        color: transparent;
        transition: 0.3s;
        &:hover {
                opacity: 1;
        }
    .fa-regular {
        opacity: 0;
        }
    }
}

/* Checkmark animation */

.main-div article {
    display: flex;
    .price {
        align-self: flex-end;
        margin-left: auto;
        padding: 12px;
        transform: translateX(100%);
        transition: 0.6s;
    }
    .fa-circle-check {
        font-size: 22px;
        padding: 0 18px;
        display: flex;
        align-items: center;
        color: white;
        background-color: $green-tertiary;
        transform: translateX(100%);
        transition: 0.6s;
        &::before {
            transition: 0.6s;
        }
    }
}

.main-div article:hover {
    .price, .fa-circle-check {
        transform: translate(0);
    }
    .fa-circle-check::before {
        transform: rotate(360deg);
    }
}

/* Appear animation */

.main-div {
    article {
        opacity: 0;
    }
    @for $i from 1 through 11 {
        article:nth-of-type(#{$i}) {
            animation: appear 1s forwards ease-in ($i * 0.2s);
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

footer li {
    overflow: hidden;
    a {
        @include hover-after;
    }
}
