
/* Fonts */

@mixin roboto {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

@mixin shrikhand {
    font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
}

/* Flex */

@mixin flex-column-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Shadow */

@mixin shadow-light {
    box-shadow: 5px 5px 10px lightgrey;
}

@mixin shadow-strong {
    box-shadow: 5px 5px 10px grey;
}