
.omf-buttons {
    padding: 15px 24px;
    margin: 13px 0;
    border: none;
    border-radius: 30px;
    background: $purple-gradient;
    color: white;
    @include shadow-light;
    width: 50%;
    align-self: center;
    text-align: center;
  }

#home-button {
  width: 60%;
  padding: 16px;
  margin: 28px;
}