/* Colors */ /* Fonts */
/* Flex */
/* Shadow */
/* Hover (after) */
.omf-buttons {
  transition: 800ms;
}

.omf-buttons:hover {
  opacity: 0.7;
  box-shadow: 5px 5px 8px grey;
  background: linear-gradient(#9356DC, #FF79DA);
}

.nav-animations a {
  position: relative;
  overflow: hidden;
}
.nav-animations a::after {
  content: "";
  position: absolute;
  bottom: -10%;
  left: 0;
  height: 15%;
  background: linear-gradient(to right, #FF79DA, #9356DC);
  transition: 0.5s;
  transform: translate(-120%, -50%);
}
.nav-animations a:hover::after {
  transform: translate(0, -50%);
  right: 0;
}

.howto-list div {
  transition: 0.5s;
}

.howto-list div:hover {
  background-color: #f2eafb !important;
}
.howto-list div:hover i {
  color: #9356DC;
}

.restaurants__list article:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.heart {
  position: relative;
}
.heart .fa-solid {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transition: 0.3s;
}
.heart .fa-solid:hover {
  opacity: 1;
}
.heart .fa-solid .fa-regular {
  opacity: 0;
}

.main-div article {
  display: flex;
}
.main-div article .price {
  align-self: flex-end;
  margin-left: auto;
  padding: 12px;
  transform: translateX(100%);
  transition: 0.6s;
}
.main-div article .fa-circle-check {
  font-size: 22px;
  padding: 0 18px;
  display: flex;
  align-items: center;
  color: white;
  background-color: #99E2D0;
  transform: translateX(100%);
  transition: 0.6s;
}
.main-div article .fa-circle-check::before {
  transition: 0.6s;
}

.main-div article:hover .price, .main-div article:hover .fa-circle-check {
  transform: translate(0);
}
.main-div article:hover .fa-circle-check::before {
  transform: rotate(360deg);
}

footer li {
  overflow: hidden;
}
footer li a {
  position: relative;
  overflow: hidden;
}
footer li a::after {
  content: "";
  position: absolute;
  bottom: -10%;
  left: 0;
  height: 15%;
  background: linear-gradient(to right, #FF79DA, #9356DC);
  transition: 0.5s;
  transform: translate(-120%, -50%);
}
footer li a:hover::after {
  transform: translate(0, -50%);
  right: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: auto;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

nav {
  display: none;
}
@media screen and (min-width: 992px) {
  nav {
    display: flex;
    align-items: center;
  }
}

.omf-buttons {
  padding: 15px 24px;
  margin: 13px 0;
  border: none;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  box-shadow: 5px 5px 10px lightgrey;
}

header {
  text-align: center;
  padding: 10px 0 7px;
}
header span {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 400;
}
header a {
  margin: auto;
  font-size: 20px;
}

.menu-header {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
}

@media screen and (min-width: 992px) {
  header, header div {
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
  }
  header a, header div a {
    margin-right: 30px;
  }
  .menu-header {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .menu-header .fa-arrow-left {
    display: none;
  }
}
footer {
  padding: 21px;
  color: white;
  background-color: rgba(0, 0, 0, 0.754);
}
footer h3 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
footer ul {
  height: 129px;
  padding: 9px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
footer ul span {
  margin: 5px;
}

@media screen and (min-width: 768px) {
  footer {
    text-align: center;
  }
  footer h3 {
    font-size: 24px;
  }
  footer ul {
    flex-direction: row;
    justify-content: center;
  }
  footer ul li {
    margin: 15px;
  }
}
.explore {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.explore .location {
  background-color: rgba(211, 211, 211, 0.269);
  padding: 14px 25px 14px 0;
  width: 100%;
}
.explore .location i {
  margin-right: 12px;
}
.explore .reserve {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.explore .reserve h1 {
  max-width: 70%;
  margin: 40px 11px 13px 0;
}
.explore .reserve p {
  font-size: 18px;
}

.howto {
  padding: 46px 20px 35px;
}
.howto .howto-list {
  margin-top: 6px;
  height: 321px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.howto .howto-list div {
  box-shadow: 5px 5px 10px lightgrey;
  padding: 20px 0;
  margin-left: 10px;
  background-color: whitesmoke;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
}
.howto .howto-list div i, .howto .howto-list div span {
  align-self: center;
}
.howto .howto-list div i {
  font-size: 19px;
}
.howto .howto-list div .number-icon {
  background-color: #9356DC;
  margin-right: auto;
  padding: 8px 10px;
  color: white;
  border-radius: 50%;
  transform: translate(-40%, 0);
  font-size: 10px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  padding-bottom: 45px;
}
.restaurants h2 {
  width: 100%;
  padding: 54px 21px 22px;
  align-self: flex-start;
}
.restaurants .restaurants__list {
  width: 89%;
}
.restaurants .restaurants__list article {
  position: relative;
  height: 250px;
  border-radius: 15px;
  box-shadow: 10px 10px 5px lightgray;
  margin-bottom: 19px;
}
.restaurants .restaurants__list article .new {
  position: absolute;
  top: 14px;
  right: 10px;
  font-size: 14px;
  border-radius: 3px;
  color: green;
  background-color: #99E2D0;
  padding: 6px 12px;
}
.restaurants .restaurants__list article img {
  height: 70%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants .restaurants__list article .restaurants-box {
  width: 100%;
  height: 30%;
  padding: 11px;
  display: flex;
  justify-content: space-between;
  align-content: space-evenly;
}
.restaurants .restaurants__list article .restaurants-box .restaurants-text {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.restaurants .restaurants__list article .restaurants-box i {
  font-size: 150%;
  padding: 4px 12px;
}
.restaurants .restaurants__list article .restaurants-box span {
  margin: 3px;
}

@media screen and (min-width: 992px) {
  .explore {
    flex-direction: column-reverse;
    box-shadow: inset 0 5px 15px lightgrey;
  }
  .explore .reserve h1 {
    max-width: 100%;
  }
  .howto {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px 18px;
  }
  .howto .howto-list {
    display: flex;
    flex-direction: row;
    height: auto;
    max-width: 70%;
  }
  .restaurants h2 {
    text-align: center;
  }
  .restaurants .restaurants__list {
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurants .restaurants__list article {
    transition: 0.6s;
    width: 48.5%;
  }
}
@media screen and (min-width: 768px) {
  .restaurants {
    margin-bottom: 0;
  }
  .restaurants .restaurants__list {
    width: 80%;
  }
  .restaurants .restaurants__list article {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  h2 {
    text-align: center;
    width: 100%;
  }
  .howto {
    width: 50%;
    margin: auto;
  }
}
.main-menus {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  padding-bottom: 18px;
}
.main-menus section {
  margin: 0 12px;
}

.menu-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 275px;
}

.main-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  transform: translate(0, -4.75%);
  border-radius: 50px;
}
.main-div .main-title {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 40px 40px 0 0;
  padding: 30px 33px 30px 19px;
}
.main-div .main-title h1 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  width: 100%;
  font-size: 28px;
}
.main-div .main-title i {
  font-size: 24px;
}
.main-div section {
  margin-bottom: 21px;
}
.main-div section h3 {
  text-transform: uppercase;
  font-size: 16px;
  margin-left: 8px;
}
.main-div section article {
  box-shadow: 5px 5px 10px lightgrey;
  display: flex;
  width: 100%;
  cursor: pointer;
  background-color: white;
  border-radius: 15px;
  margin: 20px 0;
  overflow: hidden;
}
.main-div section article div:nth-child(1) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 12px;
}
.main-div section article h4 {
  font-size: 18px;
}
.main-div section article span {
  font-size: 15px;
}
.main-div button {
  width: 50%;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .main-div {
    width: 80%;
    max-width: 800px;
    box-shadow: 5px 5px 10px lightgrey;
    border: 1px solid lightgray;
    padding-bottom: 40px;
  }
}/*# sourceMappingURL=style.css.map */