/* Colors */ /* Fonts */
/* Flex */
/* Shadow */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: auto;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

nav {
  display: none;
}
@media screen and (min-width: 992px) {
  nav {
    display: flex;
    align-items: center;
  }
  nav a {
    margin-left: 30px;
  }
}

.omf-buttons {
  padding: 15px 35px;
  margin: 32px 0;
  border: none;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
}

header {
  text-align: center;
  padding: 12px 0 7px;
}
header span {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 400;
}

a {
  margin: auto;
  font-size: 20px;
}

.menu-header {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
}

@media screen and (min-width: 992px) {
  header, header div {
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
  }
  .menu-header {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .menu-header .fa-arrow-left {
    display: none;
  }
}
footer {
  padding: 21px;
  color: white;
  background-color: rgba(0, 0, 0, 0.754);
}
footer h3 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
footer ul {
  height: 129px;
  padding: 9px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  footer {
    text-align: center;
  }
  footer h3 {
    font-size: 24px;
  }
  footer ul {
    flex-direction: row;
    justify-content: center;
  }
  footer ul li {
    margin: 15px;
  }
}
.explore {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.explore .location {
  background-color: rgba(211, 211, 211, 0.269);
  padding: 14px;
  width: 100%;
}
.explore .reserve {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.explore .reserve h1 {
  max-width: 70%;
  margin: 40px 0 13px;
}

.howto {
  padding: 73px 18px 35px;
}
.howto .howto-list {
  margin-top: 6px;
  height: 335px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.howto .howto-list div {
  box-shadow: 5px 5px 10px lightgrey;
  padding: 20px 0;
  margin-left: 10px;
  background-color: whitesmoke;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
}
.howto .howto-list div i, .howto .howto-list div span {
  align-self: center;
}
.howto .howto-list div .number-icon {
  background-color: #9356DC;
  margin-right: auto;
  padding: 8px 10px;
  color: white;
  border-radius: 50%;
  transform: translate(-40%, 0);
  font-size: 10px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  margin-bottom: 45px;
}
.restaurants h2 {
  padding: 44px 17px 22px;
  align-self: flex-start;
}
.restaurants .restaurants-list {
  width: 90%;
}
.restaurants .restaurants-list article {
  height: 250px;
  border-radius: 15px;
  box-shadow: 10px 10px 5px lightgray;
  margin-bottom: 19px;
}
.restaurants .restaurants-list article img {
  height: 70%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants .restaurants-list article .restaurants-box {
  width: 100%;
  height: 30%;
  padding: 11px;
  display: flex;
  justify-content: space-between;
  align-content: space-evenly;
}
.restaurants .restaurants-list article .restaurants-box .restaurants-text {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.restaurants .restaurants-list article .restaurants-box i {
  font-size: 150%;
  padding: 4px 12px;
}

@media screen and (min-width: 992px) {
  .explore {
    flex-direction: column-reverse;
    box-shadow: inset 0 5px 15px lightgrey;
  }
  .explore .reserve h1 {
    max-width: 100%;
  }
  .howto {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px 18px;
  }
  .howto .howto-list {
    display: flex;
    flex-direction: row;
    height: auto;
    max-width: 70%;
  }
  .restaurants h2 {
    text-align: center;
    width: 100%;
  }
  .restaurants .restaurants-list {
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurants .restaurants-list article {
    width: 48.5%;
  }
}
@media screen and (min-width: 768px) {
  .restaurants {
    margin-bottom: 0;
    padding-bottom: 45px;
  }
  .restaurants .restaurants-list {
    width: 80%;
  }
  .restaurants .restaurants-list article {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  h2 {
    text-align: center;
    width: 100%;
  }
  .howto {
    width: 50%;
    margin: auto;
  }
}
.main-menus {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}
.main-menus section {
  margin: 0 12px;
}

.menu-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 275px;
}

.main-div {
  display: flex;
  flex-direction: column;
  transform: translate(0, -5%);
  box-shadow: 5px 5px 10px lightgrey;
  border: 1px solid lightgray;
  border-radius: 50px;
}
.main-div .main-title {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 40px 40px 0 0;
  padding: 30px 33px 30px 19px;
}
.main-div .main-title h1 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  width: 100%;
  font-size: 28px;
}
.main-div .main-title i {
  font-size: 24px;
}
.main-div section {
  margin-bottom: 21px;
}
.main-div section h3 {
  text-transform: uppercase;
  font-size: 16px;
  margin-left: 8px;
}
.main-div section article {
  box-shadow: 5px 5px 10px lightgrey;
  background-color: white;
  border-radius: 15px;
  margin: 20px 0;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-div section article .price {
  align-self: flex-end;
}
.main-div section article i {
  display: none;
}
.main-div section article h4 {
  font-size: 18px;
}
.main-div section article span {
  font-size: 14.5px;
}
.main-div button {
  width: 50%;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .main-div {
    width: 80%;
    max-width: 800px;
  }
}/*# sourceMappingURL=style.css.map */