
.explore {
  background-color: whitesmoke;
  @include flex-column-centered;
  text-align: center;
  .location {
    background-color: rgba(211, 211, 211, 0.269);
    padding: 14px;
    width: 100%;
  }
  .reserve {
    @include flex-column-centered;
    h1 {
      max-width: 70%;
      margin: 40px 0 13px;
    }

  }
}

.howto {
  padding: 73px 18px 35px;
  .howto-list {
      margin-top: 6px;
      height: 335px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      div {
        @include shadow-light;
        padding: 20px 0;
        margin-left: 10px;
        background-color: whitesmoke;
        border-radius: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
        .number-icon {
          background-color: #9356DC;
          margin-right: auto;
          padding: 8px 10px;
          color: white;
          border-radius: 50%;
          transform: translate(-40%,0);
          font-size: 10px;
        }
      }
  }
}

.restaurants {
  @include flex-column-centered;
  background-color: whitesmoke;
  margin-bottom: 45px;
  h2 {
    padding: 44px 17px 22px;
    align-self: flex-start;
  }
  .restaurant-list {
    width: 90%;
    article {
      height: 250px;
      border-radius: 15px;
      box-shadow: 10px 10px 5px lightgray;
      margin-bottom: 19px;
      img {
        height: 70%;
        width: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
      }
      .restaurants-box {
        width: 100%;
        height: 30%;
        padding: 11px;
        display: flex;
        justify-content: space-between;
        align-content: space-evenly;
        .restaurants-text {
          width: 100%;
          display: flex;
          flex-direction: column;
        }
        i {
          font-size: 150%;
          padding: 4px 12px;
        }
      }
    }
  }
}

@media screen and (min-width:992px) {
    .explore {
      flex-direction: column-reverse;
      margin: 30px 0 0;
      .reserve {
        h1 {
          max-width: 100%;
        }
      }
    }
    .howto {
      h2 {
        text-align: center;
        margin-bottom: 60px;
      }
      .howto-list {
        width: 40%;
        margin: auto;
        div {
          margin-bottom: 40px;
          grid-template-columns:2fr 1fr 5fr 3fr;
          grid-template-rows: 1fr 1fr;
          grid-template-areas: 
          ". . number ."
          ". icone title .";
          .number-icon {
            grid-area: number;
            margin: auto;
            transform: translate(0, -110%);
          }
          i {
            grid-area: icone;
            margin: auto;
          }
          span {
            grid-area: title;
            margin: auto;
          }
        }
      }
    }
    .restaurants {
      margin-bottom: 0;
      padding-bottom: 45px;
      h2 {
        width: 100%;
        text-align: center;
      }
      .restaurant-list {
        width: 1200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
          article {
          width: 48.5%;
        }
      }
  }
}