
.explore {
  background-color: whitesmoke;
  @include flex-column-centered;
  text-align: center;
  &__location {
    background-color: rgba(211, 211, 211, 0.269);
    padding: 14px 25px 14px 0;
    width: 100%;
    i {
      margin-right: 12px;
    }
  }
  .reserve {
    @include flex-column-centered;
    padding-bottom: 30px;
    h1 {
      max-width: 70%;
      margin: 40px 11px 13px 0;
    }
    p {
      font-size: 18px;
    }

  }
}

.howto {
  padding: 46px 20px 35px;
  .howto__list {
      margin-top: 6px;
      height: 321px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      div {
        @include shadow-light;
        padding: 20px 0;
        margin-left: 10px;
        background-color: whitesmoke;
        border-radius: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr 5fr 2fr;
        i, span {
          align-self: center;
        }
        i {
          font-size: 19px;
        }
        .number-icon {
          background-color: #9356DC;
          margin-right: auto;
          padding: 8px 10px;
          color: white;
          border-radius: 50%;
          transform: translate(-40%,0);
          font-size: 10px;
        }
      }
  }
}

.restaurants {
  @include flex-column-centered;
  background-color: whitesmoke;
  padding-bottom: 45px;
  h2 {
    width: 100%;
    padding: 54px 21px 22px;
    align-self: flex-start;
  }
  .restaurants__list {
    width: 89%;
    article {
      position: relative;
      height: 250px;
      border-radius: 15px;
      box-shadow: 10px 10px 5px lightgray;
      margin-bottom: 19px;
      .new {
        position: absolute;
        top: 14px;
        right: 10px;
        font-size: 14px;
        border-radius: 3px;
        color: green;
        background-color: $green-tertiary;
        padding: 6px 12px;
      }
      img {
        height: 70%;
        width: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
      }
      .restaurants__box {
        width: 100%;
        height: 30%;
        padding: 11px;
        display: flex;
        justify-content: space-between;
        align-content: space-evenly;
        .restaurants__text {
          width: 100%;
          display: flex;
          flex-direction: column;
        }
        i {
          font-size: 150%;
          padding: 4px 12px;
        }
        span {
          margin: 3px;
        }
      }
    }
  }
}

@media screen and (min-width:992px) {
    .explore {
      flex-direction: column-reverse;
      box-shadow: inset 0 5px 15px lightgrey;
      .reserve {
        h1 {
          max-width: 100%;
        }
      }
    }
    .howto {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 90px 18px;
      .howto__list {
        display: flex;
        flex-direction: row;
        height: auto;
        max-width: 70%;
      }
    }
    .restaurants {
      h2 {
        text-align: center;
      }
      .restaurants__list {
        max-width: 1400px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        article {
          transition: 0.6s;
          width: 48.5%;
        }
      }
    }
  }
  
  @media screen and (min-width:768px) {
    .restaurants {
      margin-bottom: 0;
      .restaurants__list {
        width: 80%;
        article {
          margin-top: 30px;
        }
      }
    }
  }
  
  @media screen and (min-width:768px) and (max-width:991px) {
    h2 {
      text-align: center;
      width: 100%;
    }
    .howto {
      width: 50%;
      margin: auto;
    }
  }