
header {
    text-align: center;
    padding: 10px 0 7px;
    span {
        @include shrikhand;
        font-size: 30px;
        font-weight: 400;
    }
    a {
        margin: auto;
        font-size: 20px;
    }
}

.menu__header {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
}

@media screen and (min-width:992px) {
    header, header div {
        display: flex;
        justify-content: center;
        padding: 20px 90px;
    }
    .menu__header {
        display: flex;
        flex-direction: column;
        padding: 0;
        .fa-arrow-left {
            display: none;
        }
    }
}